<%- include('header')  %>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  <div class="container">
        <div class="row mb-5">
        <div class="col .bg-warning-subtle"><h1>EJS Template</h1>
        </div>
    </div> -->


    <div class="row mb-5">
        <div class="col">
          <h4><%= title %></h4>

          <table class="table">
            <% items.forEach( item => { %>
            <tr>
              <td><%= item.name _%> </td>
              <td><%= item.age _%></td>
              <td><%= item.city _%></td>
            </tr>
            <% }) %>
          </table>

         
    </div>
    <div class="col-6">
      <img src="images/flower.jpg" alt="">
      </div>
    </div>
   <%- include('footer')  %>
    <!-- <div class="row">
        <div class="col bg-info-subtle">
            Made By Mahnoor.
        </div>
    </div>
    </div> -->

    <!-- <table border="1" width="500px">
      <% items.forEach( item => { %>
      <tr>
        <td><%= item.name _%> </td>
        <td><%= item.age _%></td>
        <td><%= item.city _%></td>
      </tr>
      <% }) %>
    </table> -->

    <!-- <h1>About Page</h1> -->
    <!-- <p>who is mahnoor? mahnoor is a passionate software engineer.</p> -->
     
    <!-- if statement: -->
<!-- 
    <% if(message) { %>
        <p><%= message %></p>
    <% } else { %>
      <span>There is no message.</span>
        <% } %> -->

         <!-- for loops: -->
        <!-- <% let items= ['Apple', 'Banana', 'Cherry'] %>

        <!-- <ul>
            <% items.forEach(item => { %> 
            <li><%= item _%> </li>
        <% }) %>
        </ul>  

        <h1><%= title %></h1> -->

         <!-- <ul>
            <% items.forEach(item => { %>
            <li><%= item _%> </li>
        <% }) %> 
        </ul> -->

<!-- </body>
</html> -->